<div class="input-group" data-format="color">
    {% include 'backend/component/input.twig' with {autocomplete: 'off', type: 'text'} %}
    <div class="color-picker input-group-append">
        <span class="input-group-text">
            &nbsp;&nbsp;&nbsp;
        </span>
    </div>
</div>
