<div class="d-flex search-text">
    <div class="flex-grow-1">
        {% include 'backend/component/text.twig' %}
    </div>
    <div class="ml-1">
        <button class="btn btn-default btn-flat" title="{{ i18n('backend.search') }}">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>
