<div class="input-group">
    <div class="color-picker">
        <span class="input-group-text" style="background-color:{{ data[name] ?: 'transparent' }};">
            &nbsp;&nbsp;&nbsp;
        </span>
    </div>
</div>
