{% set icon, email = column.useIcon, data[name] %}
<div class="py-2">
    {% if email %}
        {% if icon %}
            <a class="text-reset" href="mailto:{{ email }}"><i class="fa-2x {{ cfg("backend.icon-#{icon}") }}"></i></a>
        {% else %}
            <a href="mailto:{{ email }}">{{ email }}</a>
        {% endif %}
    {% endif %}
</div>
