<div class="d-flex flex-wrap">
    {% set paths = data[name] ? data[name]|split(',') : [] %}
    {% if paths and not multiple %}
        {% set paths = paths[0:1] %}
    {% endif %}
    {% for path in paths %}
        {% set href, info = path|img, file(path) %}
        <div class="p-1">
            <div class="picture-wrapper">
                <div class="picture-preview">
                    <a data-toggle="lightbox" href="{{ href }}" title="{{ info.description }}">
                        <img alt="{{ info.name }}" src="{{ href }}">
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
