@import url(label-editor.css);
@import url(overlay.css);

td, th {
    white-space: nowrap;
}

td input[type=number] {
    min-width: 8rem;
}

th a, th:hover a {
    color: inherit;
}

.color-picker {
    background-image: url(img/transparent.jpg);
}

.color-picker .input-group-text {
    background-color: transparent;
}

.content-wrapper {
    background-image: url(img/redox-02.png);
}

.daterangepicker select {
    vertical-align: middle;
}

.dropdown-menu {
    min-width: 1rem;
}

.file-preview {
    display: inline-block;
    max-width: calc(100% - 60px);
}

.file-preview img {
    background-image: url(img/transparent.jpg);
    max-height: 200px;
    max-width: 100%;
}

.file-preview .img-wrapper {
    display: inline-block;
    margin: 0 5px 5px 0;
    min-height: 35px;
    min-width: 35px;
    position: relative;
}

.file-preview .close {
    margin: 10px 0 0 10px;
    position: absolute;
}

.fl-scrolls {
    margin-bottom: 56px;
}

.hint {
    color: transparent;
    cursor: default;
}

.hint::selection {
    color: gray;
}

.modal-wrapper .operators {
    display: none;
}

.nav-link:not([href]) {
    cursor: pointer;
}

.qr-code img {
    display: block;
    margin: 0 auto;
}

.table .file-preview img {
    max-width: 200px;
}

.table td {
    vertical-align: middle;
}

.table-hover tbody tr:hover td {
    background-color: azure;
}

.wrapper .main-sidebar {
    background-image: url(img/always-grey.png);
}

.w-1 {
    width: 1%;
}

@media (min-width: 1600px) {
    .multi-column .form-wrapper .tab-pane {
        column-count: 2;
    }

    .multi-column .form-wrapper .tab-pane > div {
        break-inside: avoid;
    }
}
