@import url(attachment.css);
@import url(label-editor.css);
@import url(overlay.css);

td, th {
    white-space: nowrap;
}

td input[type=number] {
    min-width: 8rem;
}

th a, th:hover a {
    color: inherit;
}

.color-picker {
    background-image: url(img/transparent.jpg);
}

.color-picker .input-group-text {
    background-color: transparent;
}

.content-wrapper {
    background-image: url(img/redox-02.png);
}

.deploy-item {
    background-color: white;
    height: 50px;
    padding: 12px;
}

.deploy-item:not(:first-child) {
    margin-top: -1px;
}

.deploy-item.sortable-ghost {
    border: 3px solid var(--info) !important;
}

.daterangepicker select {
    vertical-align: middle;
}

.dropdown-menu {
    min-width: 1rem;
}

.fl-scrolls {
    margin-bottom: 56px;
}

.hint {
    color: transparent;
    cursor: default;
}

.hint::selection {
    color: gray;
}

.modal-body {
    overflow-y: auto;
}

.modal-content {
    max-height: calc(100vh - 3.5rem);
}

.modal-wrapper .operators {
    display: none;
}

.nav-link:not([href]) {
    cursor: pointer;
}

.note-editor {
    box-shadow: none;
    border-radius: 0;
}

.options-checked {
    border: 2px dashed lightgray;
    min-height: 60px;
}

.options-checked .sortable-ghost {
    border: 3px solid var(--info) !important;
    padding: 8px;
}

.options-unchecked {
    color: rgba(0, 0, 0, 0.2);
}

.options-unchecked > div > i {
    display: none;
}

.options-checked > div, .options-unchecked > div {
    background-color: white;
    display: inline-block;
    height: 40px;
    line-height: 24px;
    padding: 7px 10px;
}

.qr-code img {
    display: block;
    margin: 0 auto;
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below,
.select2-container--bootstrap4 .select2-selection,
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    border-radius: 0;
}

.select2-selection__choice__remove {
    margin-top: -1px;
}

.table td {
    vertical-align: middle;
}

.table-hover tbody tr:hover td {
    background-color: azure;
}

.wrapper .main-sidebar {
    background-image: url(img/always-grey.png);
}

.w-1 {
    width: 1%;
}

@media (min-width: 1600px) {
    .multi-column .form-wrapper .tab-pane {
        column-count: 2;
    }

    .multi-column .form-wrapper .tab-pane > div {
        break-inside: avoid;
    }
}
