@import url(attachment.css);
@import url(label-editor.css);
@import url(overlay.css);

td, th {
    white-space: nowrap;
}

td input[type=number] {
    min-width: 8rem;
}

th a, th:hover a {
    color: inherit;
}

.color-picker {
    background-image: url(img/transparent.jpg);
}

.color-picker .input-group-text {
    background-color: transparent;
}

.content-wrapper {
    background-image: url(img/redox-02.png);
}

.daterangepicker select {
    vertical-align: middle;
}

.dropdown-menu {
    min-width: 1rem;
}

.fl-scrolls {
    margin-bottom: 56px;
}

.hint {
    color: transparent;
    cursor: default;
}

.hint::selection {
    color: gray;
}

.modal-wrapper .operators {
    display: none;
}

.nav-link:not([href]) {
    cursor: pointer;
}

.qr-code img {
    display: block;
    margin: 0 auto;
}

.table td {
    vertical-align: middle;
}

.table-hover tbody tr:hover td {
    background-color: azure;
}

.wrapper .main-sidebar {
    background-image: url(img/always-grey.png);
}

.w-1 {
    width: 1%;
}

@media (min-width: 1600px) {
    .multi-column .form-wrapper .tab-pane {
        column-count: 2;
    }

    .multi-column .form-wrapper .tab-pane > div {
        break-inside: avoid;
    }
}
